.searchpage_logo{
	object-fit:contain;
	height:50px;
	margin-right: 50px;
}
.searchpage_header{
	display:flex;
	position:sticky;
	top:0;
	background-color:white;
	z-index:100;
	padding:5px;
	border-bottom: 1px solid lightgray;
}
.searchpage_header_body > .Search>.Search_input {
	
	margin-top:0;
	
}
.search_page_options{
	display:flex;
	align:center;
	color:grey;
}
.search_page_options a,.searchpage_options_Right a{
	text-decoration:none;
	color:gray;
}
.searchpage_options_Right,.search_page_options_left{
	display:flex;
}
.searchpage_options_Right{
	margin-left:80px;
}
.search_page_option{
	display:flex;
	align-items:center;
	margin-right:20px;
}
.search_page_option a {
	margin-left:5px;
}
.searchPage_result{
	margin: 40px 0;
	
}
.search_page_resultcount{
	color: grey;
	font-size:14px;
}
.searchpage_results{
	max-width: 650px;
	margin-top:20px;
	margin-left:240px;
	margin-bottom:100px;
}
.searchPage_result_Title{
	text-decoration: none;
}
.searchPage_result_Title:hover{
	text-decoration:underline;
}
.searchPage_result_Title > h2 {
	font-weight:500;
}
.searchPage_result_snippet{
	margin-top:10px;
}
.searchpage_result_image{
	object-fit:contain;
	height:20px;
	width:20px;
	margin-right:10px;
}